@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap";

$theme-colors: (
  other: #22c1c3,
  dinus: #288be0 ,
  primary: #00fcff,
);

.card{
  box-shadow: 0px 12px 25px -4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 12px 25px -4px rgba(0, 0, 0, 0.5);
}



.ninjaVanish{
  padding: 0;
  margin: 0;
  visibility: hidden;
  position: absolute;
  opacity: 0;
  
  // transition: visibility 0s linear 500ms, opacity 500ms;
}
.ninja{
  visibility: visible;
  opacity: 1;
  position: relative;
  // transition: visibility 0s linear 0s, opacity 500ms;
}
